/* LAYOUT */

body {
  margin: 0;
  height: 100vh;
}

.mainDiv {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.mainDivLeft {
  background-color: #51bac9;
  height: 100%;
  width: 30%;
}

.mainDivRight {
  background-color: #ecf7f9;
  height: 100%;
  width: 30%;
}

.mainDivCenter {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.centerDivMenu {
  background-color: #51bac9;
  height: 100%;
  width: 55%;
  text-align: center;
}

.centerDivContent {
  background-color: #ecf7f9;
  height: 100%;
  width: 100%;
  text-align: center;
}

/* MENU */

.centerDivMenu h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 65px;
  margin-right: 15px;
}

#projectList {
  list-style: none;
  text-align: initial;
  padding-left: 25%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

/* STATS LIST */

#projectStats {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

#projectStats div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#projectStats li {
  margin-left: 15px;
}

#projectCommits {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

/* COMMIT LIST */

.commitDiv {
  display: flex;
  flex-direction: row;
  margin: 20px;
  border: 1px;
  border-color: black;
  border-style: solid;
}

.dataDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.imgDiv,
.noAuthorImgDiv {
  display: block;
  margin: auto;
}

img {
  height: 70px;
  width: 70px;
  margin: 10px;
}

.dataDiv p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin: 2px;
  float: left;
}

.dateNameDiv {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.dataDiv .commitDate p {
  text-align: end;
  font-size: 10px;
}

.commitMsg {
  width: 100%;
}

/* PAGINATION */

#centerDivContent a {
  margin: 15px;
}

.hidePaginationLink {
  display: none;
}
